<!-- cart.handlebars -->

{{#if carritoId}}
<div class="page-nav d-flex justify-content-between align-items-center">
     
  <a href="/tienda"><button id="btnVolver" class="button-volver btn">Volver</button></a>
  <h1 class="text-center">Carrito</h1>
  <div class="finalizarCompra">
                        <button class="button-finalizar btn">Finalizar Compra</button>                  
                    </div>

</div>

<div id="page-content" class="page-content">
  <div class="container ">
    {{#if carritoId}} <!-- Añadir esta línea para controlar la visibilidad -->
      
      <div class="verCarrito">
       <p><span id={{carritoId._id}} class="keyDer"> ID Carrito:</span>{{carritoId._id}}</p>
      </div>
      <div class="table-responsive"></div>
      <div class="table table-dark-dos" id="our-table">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">imagen</th>
                <th scope="col">Cantidad</th>
              </tr>
            </thead>
            <tbody>
              {{#each carritoId.products}}
                <tr>
                  <td>{{this.product.title}}</td>
                
                  <td><img class="cartIMG" src={{this.product.thumbnail}} alt="img"></td>
                  <td>{{this.quantity}}</td>
                  <td class="eliminarProducto">
                         <button id={{this.product._id}} class="pages btn btn-sm btn-info" >eliminar</button></td> 
                </tr>
              {{/each}}
            </tbody>
          </table>
      </div>
      </div>
      <p>Total:${{total}} </p>
                       <div class="vaciarCarrito">
                         <button class="pages btn btn-sm btn-info" >Vaciar Carrito</button>
                    </div> 
  </div>
   {{/if}}
</div>
{{/if}}

<script src="/js/home.js"></script>
