
<div class="text-center">
<div class="tituloadmin">
    <h1 class="page-nav-login">Sesión Admin</h1>
    <div class="container">
    <h1>Hola {{user.name}}</h1>
    <div class="RoleDiv">
        
        <h2 class={{user.role}}>Role:{{user.role}}</h2>
    </div>
    <div class="EmailDiv">        
        <h2 class={{user.email}}>Email:{{user.email}}</h2>
    </div>
    <a href="/api/sessions/logout"><button class="pages btn btn-sm btn-info">Salir</button></a>
    <a href="/panelAdminUser"><button class="profile-button btn btn-sm btn-info">Editar usuarios</button></a>
    </div>
</div>
    <div class="mt-4 formConteiner">
        <h1 class="text-center">Ingresar Nuevos Productos</h1>
        <form id="formulario" action="" class="needs-validation">

            <div class="mb-3">
                <label for="title" class="form-label">Nombre:</label>
                <input type="text" class="form-control" name="title" id="" required>
            <div class="invalid-feedback">Este campo es requerido.</div>
            </div>
           
            <div class="mb-3">
                <label for="price" class="form-label">Precio:</label>
                <input type="text" class="form-control" name="price" id="" required>
                <div class="invalid-feedback">Este campo es requerido.</div>
            </div>

            <div class="mb-3">
                <label for="category" class="form-label">Categoría:</label>
                <input type="text" class="form-control" name="category" id="" required>
                <div class="invalid-feedback">Este campo es requerido.</div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <input type="text" class="form-control" name="description" id="" required>
                <div class="invalid-feedback">Este campo es requerido.</div>
            </div>

             <div class="mb-3">
                <label for="stock" class="form-label">Stock:</label>
                <input type="text" class="form-control" name="stock" id="" required>
                <div class="invalid-feedback">Este campo es requerido.</div>
            </div>

            <div class="mb-3">
                <label for="thumbnail" class="form-label">Thumbnail:</label>
                <input type="text" class="form-control" name="thumbnail" id="" required>
                <div class="invalid-feedback">Este campo es requerido.</div>
            </div>

            <div class="mb-3">
                <label for="status" class="form-label">Status:</label>
                <input type="text" class="form-control" name="status" id="" required>
                <div class="invalid-feedback">Este campo es requerido.</div>
            </div>

            <div class="mb-3">
                <label for="code" class="form-label">Code:</label>
                <input type="text" class="form-control" name="code" id="" required>
                <div class="invalid-feedback">Este campo es requerido.</div>
            </div>
         
            <button class="pages btn btn-sm btn-info" type="submit">Enviar</button>
        </form>
        <span class="errorForm">Alguno de los campos no fue ingresado !</span>
    </div>
    
    <div class="mt-4 formConteinerActualizacion">
        <h1 class="text-center">Actualizar Producto</h1>
        <form  id="formularioActualizacion" action="" class="needs-validation">
            
            <div class="mb-3">
                <label for="id" class="form-label">Id:</label>
                <input type="text" class="form-control" name="id" required>
                <div class="invalid-feedback">Este campo es requerido.</div>
            </div>

            <div class="mb-3">
                <label for="title" class="form-label">Nombre:</label>
                <input type="text" class="form-control" name="title" required>
                <div class="invalid-feedback">Este campo es requerido.</div>
            </div>
        
            <div class="mb-3">
                <label for="price" class="form-label">Precio:</label>
                <input type="text" class="form-control" name="price" required>
                <div class="invalid-feedback">Este campo es requerido.</div>
            </div>

            <div class="mb-3">
                <label for="category" class="form-label">Categoría:</label>
                <input type="text" class="form-control" name="category" required>
                <div class="invalid-feedback">Este campo es requerido.</div>
            </div>

                        <div class="mb-3">
                <label for="category" class="form-label">Description:</label>
                <input type="text" class="form-control" name="description" required>
                <div class="invalid-feedback">Este campo es requerido.</div>
            </div>

                         <div class="mb-3">
                <label for="category" class="form-label">Stock:</label>
                <input type="text" class="form-control" name="stock" required>
                <div class="invalid-feedback">Este campo es requerido.</div>
            </div>

            <div class="mb-3">
                <label for="category" class="form-label">Thumbnail:</label>
                <input type="text" class="form-control" name="thumbnail" required>
                <div class="invalid-feedback">Este campo es requerido.</div>
            </div>

            <div class="mb-3">
                <label for="category" class="form-label">Status:</label>
                <input type="text" class="form-control" name="status" required>
                <div class="invalid-feedback">Este campo es requerido.</div>
            </div>

            <div class="mb-3">
                <label for="category" class="form-label">Code:</label>
                <input type="text" class="form-control" name="code" required>
                <div class="invalid-feedback">Este campo es requerido.</div>
            </div>
         
            <button class="pages btn btn-sm btn-info" type="submit">Enviar</button>
        </form>
        <span class="errorFormAct">Alguno de los campos no fue ingresado !</span>
    </div>

     <div class="mt-4 formConteinerEliminar">
        <h1 class="text-center">Eliminar Producto</h1>
        <form  id="formularioEliminar" action="" class="needs-validation">
            <div class="mb-3">
                <label for="id" class="form-label">Id:</label>
                <input type="text" class="form-control" name="id" required>
                <div class="invalid-feedback">Este campo es requerido.</div>
            </div>
         
            <button class="pages btn btn-sm btn-info" type="submit">Enviar</button>
        </form>
        <span class="errorFormEli">Alguno de los campos no fue ingresado !</span>
    </div>

</div>



<script src="/js/panelAdmin.js"></script>
