<div class="page-nav">
   
  <h1>Mi tienda</h1>
<a href="/carts/{{user.cart}}"><button id="checkout" class="button-checkout ">Carrito</button></a>
</div>
{{#unless user}}
<div class="text-center">

    <h1 class="page-nav-login">Logeate</h1>

    <form id="loginForm" >     
      

        <label>Email</label>
        <input name="email">

        <label>Contraseña</label>
        <input type="password" name="password">

        <input class="pages btn btn-sm btn-info"  type="submit">
    </form>
    <p>Olvidaste tu contraseña ? puedes <a href="/restoreRequest">Restaurala aqui</a></p>
    <p>Tambien Puedes Ingresar Por Github</p>
    <a href="/api/sessions/github"><button class="pages btn btn-sm btn-info" >github</button></a>
</div>
{{/unless}}
<div id="page-content" class="page-content">
 
<div class="container">
  <div id="verProductsHome" class="row">
    {{#if user}}
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h1>Hola, {{user.name}}</h1>
      <p class="email" email={{user.email}}>Correo: {{user.email}}</p>
      <p class="userID" id={{user.id}}>ID: {{user.id}} </p>
      <p>Role: {{user.role}}</p>
      <p id={{user.cart}} class="idCarrito">Carrito: {{user.cart}}</p>
      <a href="/api/sessions/logout" class="btn btn-sm btn-info">Salir</a>
    </div>
    {{/if}}
  </div>
</div>

    <!-- Table structure here -->
    <div class="table-responsive">
    <table class= "table table-dark mostrarProductosCart" id="our-table">
      <thead>
        <tr>
        
          <th style="
    white-space: nowrap;">Nombre</th>
          <th>Category</th>
          <th>Stock</th>
          <th>Imagen</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody class= " mostrarProductosCart"  id="table-body">
      </tbody>
    </table>
    </div>
  

                
         
 
  <div class="containerdos ">
    <div id="pagination-wrapper"></div>
  </div>
</div>




<script src="/js/login.js"></script>