<div class="profile-template">
    <h1 class="profile-title">Hola, {{user.name}}</h1>
    <p class="profile-email" email={{user.email}}>Correo: {{user.email}}</p>
    <p class="profile-userID" id={{user.id}}>ID: {{user.id}} </p>
    <p>Role: {{user.role}}</p>
    <p id={{user.cart}} class="profile-idCarrito">Carrito: {{user.cart}}</p>
    <a href="/api/sessions/logout"><button class="profile-button btn btn-sm btn-info">Salir</button></a>
    <a href="/"><button class="profile-button btn btn-sm btn-info">Ir a Productos</button></a>
    <a><button class="profile-button btn btn-sm btn-info profile-changeRol">Presione aqui para cambiar el Role a Premium o a USER</button></a>
</div>



<script src="/js/home.js"></script>